:root {
  --main-color: #ffffff;
  --accent-color: #ffffff;
  --header-items: #c7c7c7;
  --btn-bg: #8e32c6;
  --header-bg: #012d63;
  --advantages-bg: #8e32c6;
  --review-accent: #d8d8d8;
  --confirm-color: #8d8d8d;
  --footer-color: #021635;

  --main-font: "Roboto", sans-serif;
  --secondary-font: "PT Serif", serif;
  --tertiary-font: "Playfair Display";
}
