.ambassador {
  font-size: 48px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.title {
  font-family: var(--tertiary-font);
  font-size: 144px;
  margin: 0;
  font-weight: 400;
}

.subtitle {
  font-size: 72px;
  font-family: var(--tertiary-font);
  font-weight: 400;
  margin-bottom: 15px;
}

.descrp {
  max-width: 508px;
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  background-color: var(--btn-bg);
  padding: 20px 60px;
  color: var(--main-color);
  border-radius: 10px;
}
