.imgContainer {
  width: 31px;
  height: 31px;
}

.item {
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;

  padding: 49px 9px 29px 18px;
  border-radius: 15px;
  max-width: 255px;
}

.review {
  font-weight: 400;
  margin-bottom: 10px;
}

.reviewContainer {
  margin-bottom: 50px;
}

.date {
  color: var(--review-accent);
  font-size: 14px;
}

.authorContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  font-size: 14px;
  font-weight: 400;
}

.start {
  font-size: 12px;
  font-weight: 400;
  color: var(--review-accent);
}

.item:nth-child(2) {
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
}

.item:nth-child(3) {
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );

  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
}
