.header {
  background-color: var(--header-bg);
  padding: 15px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: var(--main-color);
}

.hero {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main__container {
  padding: 94px 0 183px 0;
}

.advantages {
  background-image: url("./images/background-advantages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__container {
  padding: 105px 0;
  max-width: 1110px;
}

.reviews {
  background-image: url("./images/reviews/flowers-revies.png"),
    url("./images/reviews/background-reviews.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: bottom left, center;
}

.reviews__container {
  padding: 25px 0 115px;
  max-width: 951px;
}
